{
    "BasedOnStyle": "Microsoft",
    "AccessModifierOffset": 2,
    "AlignAfterOpenBracket": true,
    "AlignArrayOfStructures": "Left",
    "AlignConsecutiveAssignments": "None",
    "AlignConsecutiveBitFields": "None",
    "AlignConsecutiveDeclarations": "None",
    "AlignConsecutiveMacros": "AcrossEmptyLines",
    // 
    "AllowAllArgumentsOnNextLine": false,
    "AllowAllParametersOfDeclarationOnNextLine": false,
    "AllowShortBlocksOnASingleLine": "Empty",
    "AllowShortCaseExpressionOnASingleLine": false,
    "AllowShortCaseLabelsOnASingleLine": false,
    "AllowShortFunctionsOnASingleLine": "None",
    "AllowShortIfStatementsOnASingleLine": "Never",
    "AllowShortLambdasOnASingleLine": "Empty",
    "AllowShortLoopsOnASingleLine": false,
    //
    "BinPackArguments": false,
    "BraceWrapping": {
        "AfterNamespace": true,
        "AfterExternBlock": true,
        "AfterClass": true,
        "AfterEnum": false,
        "AfterStruct": false,
        "AfterUnion": false,
        "AfterFunction": true,
        "AfterControlStatement": "Never",
        "AfterCaseLabel": false,
        "BeforeCatch": true,
        "BeforeElse": false,
        "BeforeLambdaBody": false,
        "BeforeWhile": false
    },
    "BreakBeforeBinaryOperators": "NonAssignment",
}